* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_3 {
  width: 100%;
  height: 1024px;
  background: rgba(249,241,240,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_4 {
  width: 448px;
  height: 101px;
  background: rgba(250,220,217,1);
  opacity: 1;
  position: absolute;
  top: 899px;
  left: 471px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_6 {
  width: 334px;
  height: 11px;
  background: url("../images/v0_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 88px;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 56px;
  overflow: hidden;
}
.v0_7 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v0_8 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 146px;
  font-family: Gilroy;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v0_9 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 271px;
  font-family: Gilroy;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v0_10 {
  width: 448px;
  height: 351px;
  background: rgba(248,175,166,1);
  opacity: 1;
  position: absolute;
  top: 649px;
  left: 496px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_12 {
  width: 302px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 259px;
  left: 24px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v0_13 {
  width: 400px;
  height: 38px;
  background: url("../images/v0_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 284px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 24px;
  overflow: hidden;
}
.v0_14 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v0_15 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 362px;
  overflow: hidden;
}
.v0_16 {
  width: 21px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 8px;
}
.v0_17 {
  width: 448px;
  height: 351px;
  background: rgba(250,220,217,1);
  opacity: 1;
  position: absolute;
  top: 649px;
  left: 24px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_19 {
  width: 296px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 155px;
  left: 25px;
  font-family: Gilroy;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v0_20 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 25px;
  overflow: hidden;
}
.v0_21 {
  width: 38px;
  height: 38px;
  background: rgba(248,175,166,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v0_22 {
  width: 446px;
  height: 726px;
  background: rgba(250,220,217,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 471px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_24 {
  width: 79px;
  height: 30px;
  background: url("../images/v0_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 651px;
  left: 25px;
  overflow: hidden;
}
.v0_25 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v0_26 {
  width: 399px;
  height: 70px;
  background: url("../images/v0_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 25px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_28 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v0_29 {
  width: 399px;
  height: 72px;
  background: url("../images/v0_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 25px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_31 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v0_32 {
  width: 399px;
  height: 349px;
  background: url("../images/v0_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 25px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_34 {
  width: 399px;
  height: 269px;
  background: url("../images/v0_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v0_35 {
  width: 399px;
  height: 400px;
  background: url("../images/v0_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v0_36 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 373px;
  overflow: hidden;
}
.v0_37 {
  width: 14px;
  height: 14px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 7px;
}
.v0_38 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v0_39 {
  width: 330px;
  height: 476px;
  background: url("../images/v0_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 614px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_40 {
  width: 355px;
  height: 556px;
  background: url("../images/v0_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 25px;
  overflow: hidden;
}
.v0_41 {
  width: 565px;
  height: 478px;
  background: rgba(250,220,217,1);
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 24px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_43 {
  width: 475px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 24px;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v0_44 {
  width: 119px;
  height: 119px;
  background: url("../images/v0_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 416px;
  overflow: hidden;
}
.v0_45 {
  width: 119px;
  height: 118px;
  background: rgba(248,175,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v0_46 {
  width: 100%;
  height: 101px;
  background: rgba(250,220,217,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 24px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_48 {
  width: 100%;
  height: 16px;
  background: url("../images/v0_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 885px;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 24px;
  overflow: hidden;
}
.v0_49 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v0_50 {
  width: 303px;
  height: 11px;
  background: url("../images/v0_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 303px;
  overflow: hidden;
}
.v0_51 {
  width: 303px;
  height: 11px;
  background: url("../images/v0_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 88px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_52 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_53 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 127px;
  font-family: Gilroy;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_54 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 228px;
  font-family: Gilroy;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
