/* css/styles.css */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.profile-image {
    width: 283.5px;
    height: 459px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer; /* Makes it clear it's clickable */
}

.header {
 width: 1800px;
 height: 100px;
 background-color: #3498db;
 color: white;
 border-radius: 10px;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.aboutMe {
width: 600px;
height: 510;

}

.experience {


}

.contactMe { 


}

.miniContacts {


}

.projects { 


}