.profile-image {
    width: 200px;
    height: 100px;
    color: black;
    background-color: black;
    padding: 10px;
    margin: 10px;
    position: absolute;
    left: 40%;
    top: 40%;
    border-radius: 5%;
}